<f:layout name="Default" />


<f:section name="main">

	<f:flashMessages />

<table  class="tx_srevents" >
	<tr>
		<th><f:translate key="tx_srevents_domain_model_event.date" /></th>
		<th><f:translate key="tx_srevents_domain_model_event.eventname" /></th>
		<th><f:translate key="tx_srevents_domain_model_event.location" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{events}" as="event">
		<tr>
			<td><f:format.date format="{settings.dateFormat}">{event.date}</f:format.date></td>
			<td>{event.eventname}</td>
			<td><f:format.nl2br>{event.location}</f:format.nl2br></td>
			<td><f:link.action action="show" arguments="{event : event}"> <f:translate key="tx_srevents_domain_model_event.more" /></f:link.action></td>
		</tr>
	</f:for>
</table>
</f:section>